    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bbb" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/private" class="navbar-brand">
                    Back</a>
            </div>
            <div class="collapse navbar-collapse" id="bbb">
                <ul class="nav navbar-nav navbar-right">
                    {{#if user}}
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
                    <li>
                        <a href="/changepassword">Password Change</a>
                    </li>
                    {{else}}
                    <li>
                        <a href="/login">Log in</a>
                    </li>
                    {{/if}}


                </ul>
            </div>
        </div>
    </nav>

<div class="book-detail" >
    <table class="book" style="color:white">
        <tr>
            <td>
                <label for="name">Name:</label>
            </td>
            <td>
                <p name="name" id="name">{{book.name}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="version">Version:</label>
            </td>
            <td>
                <p name="version" id="version">{{book.version}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="category">Category:</label>
            </td>
            <td>
                <p name="category" id="category">{{book.category}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="price">Price:</label>
            </td>
            <td>
                <p name="price" id="price">{{book.price}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Description: </label>
            </td>
            <td>
                <p name="description" id="description">{{book.description}}</p>
            </td>
        </tr>
    </table>
    <div class="action">
        <form action="/book/delete" method="post" style="display: inline-block;">
            <input type="text" name="bookid" value="{{book._id}}" hidden/>
            <button class="delete-button" type="submit">Delete This book</button>
        </form>
        <form action="/book/modify" method="post" style="display: inline-block;">
            <input type="text" name="bookid" value="{{book._id}}" hidden/>
            <input type="text" name="bookname" value="{{book.name}}" hidden/>
            <input type="text" name="bookcategory" value="{{book.category}}" hidden/>
            <input type="text" name="bookprice" value="{{book.price}}" hidden/>
            <input type="text" name="bookdescription" value="{{book.description}}" hidden/>
            <button class="modify-button" type="submit">Modify This book</button>
        </form>
    </div>
</div>